public/vim/tmp
public/vim/.netrwhist
public/vim/.netrwbook
.dropbox
*Icon*
private
public/vim/bundle/YouCompleteMe
public/vim/bundle/solarized
public/vim/bundle/tabular
public/vim/bundle/tcomment_vim
public/vim/bundle/ultisnips
public/vim/bundle/vim-endwise
public/vim/bundle/vim-fugitive
public/vim/bundle/vim-haml
public/vim/bundle/vim-markdown
public/vim/bundle/vim-ragtag
public/vim/bundle/vim-rails
public/vim/bundle/vim-snippets
public/vim/bundle/vim-surround
public/vim/bundle/vim-unimpaired
public/vim/bundle/bufexplorer
public/vim/bundle/command-t
public/vim/bundle/AutoClose

