stty -ixon

# export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_80.jdk/Contents/Home
export JAVA_HOME=`/usr/libexec/java_home -v 1.8 2>/dev/null`

export DYLD_LIBRARY_PATH="/usr/local/mysql/lib/"

CDPATH=".:~:~/dev"

. ~/.git-completion.bash
export GIT_PS1_SHOWDIRTYSTATE=y
export GIT_PS1_SHOWSTASHSTATE=y
export GIT_PS1_SHOWUNTRACKEDFILES=y
export GIT_PS1_SHOWUPSTREAM="auto verbose"

export PS1='\[\e[33;40m\][$(date "+%H:%M")] \w \[\e[35;40m\]$(__git_ps1 "[%s]")\[\e[33;1m\]> \[\e[0m\]'

# This can be used to automatically fix the terminal title after ssh to a remote box that changed it
export PROMPT_COMMAND='~/bin/set_prompt.sh'

export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;33'

export EDITOR=/usr/bin/vim

PATH=${HOME}/usr/local/bin:${JAVA_HOME}/bin:/usr/local/sbin:${PATH}:${HOME}/bin:/usr/local/mysql/bin:${HOME}/.rbenv/bin:${HOME}/dev/tools/innotop
export MANPATH=/usr/local/git/man:$MANPATH:$HOME/usr/local/lib/node_modules/npm/man:$HOME/usr/local/share/man

export HISTCONTROL="ignoreboth"
export HISTIGNORE="ls:h:exit:cd"
export HISTSIZE=10000
export HISTFILESIZE=10000
export HISTTIMEFORMAT="%F %T "

export BUNDLER_EDITOR=atom

# comment out less setting because it is screwing up git pager
# export LESS=-i

## command shortcuts
alias mv='mv -i'
alias cp='cp -i'
alias h=history
alias dir='ls -l'
alias ls='ls -aF'
alias mm=mvim

alias be='bundle exec'

alias gs='git st'
alias gg='git lg'
alias gf='git fetch'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gba='git branch -a'
alias gdc='git diff --cached'
alias gka='gitk --all'
alias gcv='git cherry -v master'
alias gnp='git cherry -v'
alias gsb='git show-branch'

# Completions
complete -C $HOME/.completion_scripts/ssh_completion -o default ssh
complete -C $HOME/.completion_scripts/ssh_completion -o default scp
