stty -ixon

. ~/.git-completion.bash
export GIT_PS1_SHOWDIRTYSTATE=y
export GIT_PS1_SHOWSTASHSTATE=y
export GIT_PS1_SHOWUNTRACKEDFILES=y
export GIT_PS1_SHOWUPSTREAM="auto verbose"

export PS1='\[\e[33m\][$(date "+%H:%M")] \w\[\e[0m\] \[\e[35m\]$(__git_ps1 "[%s]")\[\e[31m\]${AWS_ACCT:+ [aws:$AWS_ACCT]}${DOCKER_MACHINE_NAME:+ [docker:$DOCKER_MACHINE_NAME]}\[\e[33m\]>\[\e[0m\] '

export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;33'

export EDITOR=vim

PATH=${HOME}/bin:${PATH}

export HISTCONTROL="ignoreboth"
export HISTIGNORE="ls:h:exit:cd"
export HISTSIZE=10000
export HISTFILESIZE=10000
export HISTTIMEFORMAT="%F %T "

## command shortcuts
alias mv='mv -i'
alias cp='cp -i'
alias h=history
alias dir='ls -l'
alias ls='ls -aF'

alias gs='git st'
alias gg='git lg'
alias gf='git fetch'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gcm='git checkout master'
alias gba='git branch -a'
alias gdc='git diff --cached'
alias gka='gitk --all'
alias gcv='git cherry -v master'
alias gnp='git cherry -v'
alias gsb='git show-branch'

# Completions
complete -C $HOME/.completion_scripts/ssh_completion -o default ssh
complete -C $HOME/.completion_scripts/ssh_completion -o default scp

echo "base profile loaded...."
