stty -ixon

CDPATH=".:~:~/dev"

. ~/.git-completion.bash
export GIT_PS1_SHOWDIRTYSTATE=y
export GIT_PS1_SHOWSTASHSTATE=y
export GIT_PS1_SHOWUNTRACKEDFILES=y

export PS1='\[\e[32;40m\]\! [$(date "+%H:%M")] \u@\h:\[\e[33;40m\]\w \[\e[34;1m\]$(__git_ps1 "(%s) ")\[\e[33;1m\]\$ \[\e[0m\]'

# This can be used to automatically fix the terminal title after ssh to a remote box that changed it
export PROMPT_COMMAND='echo -n -e "\033]0;`hostname -s`:`pwd | sed -e's/.*andy/~/'`\007"'

export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;33'

export EDITOR=vi
export SVN_EDITOR=vi

PATH=/usr/local/bin:/usr/local/sbin:/usr/local/git/bin:.:${PATH}:${HOME}/bin:/usr/local/mysql/bin
export MANPATH=/usr/local/git/man:$MANPATH

export HISTCONTROL="ignoreboth"
export HISTIGNORE="ls:h:exit:cd"
export HISTSIZE=5000
export HISTFILESIZE=5000

# comment out less setting because it is screwing up git pager
# export LESS=-i

## command shortcuts
alias mv='mv -i'
alias cp='cp -i'
alias h=history
alias dir='ls -l'
alias ls='ls -aF'
alias doc='cd Documents'

export JAVA_HOME=/Library/Java/Home
export ANT_HOME=/usr/share/ant

alias ss='script/server $*'
alias sc='script/console $*'
alias apr='touch tmp/restart.txt; sudo apachectl restart'

alias cpr=~/bin/check_push_required.sh
alias cdw=~/bin/check_dirty_working_dir.sh

alias gs='git status'
alias gf='git fetch'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gba='git branch -a'
alias gdc='git diff --cached'
alias gcm='git checkout master'
alias gka='gitk --all'
alias gcv='git cherry -v master'
alias gnp='git cherry -v'
alias gsb='git show-branch'

# make performance better by doing a 
# alias gr='git repack -a -d'

# alias svnadd='svn st | egrep "^\?" | while read st file; do svn add "$file"; done;'
# alias svnrm='svn st | egrep "^!" | while read st file; do svn rm "$file"; done;'
# alias svnrevert='svn st | egrep "^[MCDA]" | while read st file; do svn revert "$file"; done;'
# alias svnopen='svn st | sed -e"s/\?//" | xargs open'

pushdgem() {
  pushd `gem which $1 | tail -1 | xargs dirname`
  cd ..
}

tf() {
  echo -n -e "\033]0;${1}\007"; tail -f $1
}

# Completions
complete -C $HOME/.completion_scripts/rake_completion -o default rake
complete -C $HOME/.completion_scripts/thor_completion -o default thor
complete -C $HOME/.completion_scripts/grails_completion -o default grails
complete -C $HOME/.completion_scripts/ssh_completion -o default ssh

# From http://blog.peepcode.com/tutorials/2009/shell-method-missing
trap 'if ! type -t $BASH_COMMAND >/dev/null; then ~/bin/shell_method_missing.rb $BASH_COMMAND; fi' DEBUG


# Slightly modified from http://gist.github.com/280202
_growl_prompt_command() {
  local laststatus=$?
  eval $PREV_PROMPT_COMMAND
  growl -H localhost -n Shell -m "$PROMPT_MEMO exited with $laststatus" Shell
  PROMPT_COMMAND=$PREV_PROMPT_COMMAND
  PREV_PROMPT_COMMAND=
  PROMPT_MEMO=
}
 
growldone() {
  PREV_PROMPT_COMMAND=$PROMPT_COMMAND
  PROMPT_COMMAND=_growl_prompt_command
  if [ $# -gt 0 ]; then
    PROMPT_MEMO=$@
  else
    PROMPT_MEMO=Command
  fi
}

[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

